body{
    background-color: rgb(253, 241, 235);
    padding-left: 40%;  
}

.board {
    margin: 50px;
    float: right;
}

.board td {
    width : 35px;
    height: 35px;
    text-align: center;
    font-size: 1.5em;
    transition: 0.s;
    background-color: rgb(248, 224, 215);
}

.board{
    background-color: rgb(218, 208, 212);
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.board td:hover {
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(240, 190, 175)
}

.disabled {
    background-color: rgb(240, 190, 175);
    pointer-events: none;
    opacity: 0.8;
}

.smileyReset{
    padding: 5px;
    display: inline;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.timer{
    padding:10px;
    border: 1px;
    display: inline;
}

button{
    margin-bottom: 10px;
}

.lives{
    display: inline;
    padding: 10px;
}